.subcategory-row {
    display: flex;
    justify-content: space-evenly; 
    margin-bottom: 10px; 
    gap: 75px;
}
  .subcategory {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-left:-15px;
    margin-right: 10px;
    border-radius: 5px;
      gap: 75px;
  }

  .row {
    display: flex; 
    justify-content: space-evenly; 
    gap: 75px;
    margin-bottom: 15px; 
  }
